@font-face {
    font-family: 'Jockey One';
    src: url('../font/JockeyOne-Regular.woff2') format('woff2'),
        url('../font/JockeyOne-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

